---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogListItem from "../components/BlogListItem.astro";
const allPosts = Object.values(import.meta.glob("./posts/**/*.md", { eager: true }));
---

<BaseLayout pageTitle="Blog">
<article>
	<p>
		wow there will be soooo many interesting posts here I'm so sure. So. Soo Sure.
		<br/>soo sure
	</p>
	<ul>
		{allPosts.map((post: any) =>
			<BlogListItem title={post.frontmatter.title} url={post.url} />
		)}
	</ul>
</article>
</BaseLayout>
