---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <a href="/blog/">← Back to Blog</a>
    <p>Written by {frontmatter.author}, {new Date(frontmatter.pubDate).toDateString()}</p>
    <slot />
</BaseLayout>